/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  height: 100%;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* media */

@media (max-width: 1200px ){

}

@media (max-width: 992px ){

.form_container{
  width: 100% !important;
}
.form{
  width: 100% !important;
}


}

@media (max-width: 768px ){


}

@media (max-width: 480px ){

.nav_adapt_min{
  display: block !important;
}
.nav_adapt_max{
  display: none !important;
}

}

@media (max-width: 320px ){

}

@media (min-width: 1170px ){

}

@media (min-width: 992px ){

}

@media (min-width: 768px ){

}

@media (min-width: 480px ){

}

@media (min-width: 320px ){

}

/* media */

.myclass{
    height: 100% !important;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding: 16px;
}

.form_container{
  height: 100%;
  margin: auto;
  width: 50%;
}

.form{
  margin-top: 30%;
  width: 500px;
}

.input{
  margin-top: 10px;
}

.nav_adapt_min{
  display: none;
}


